{% extends "base.html" %}

{% block title %}
    Signup Form
{% endblock title%}

{% block content %}
<main>
    <div>
        <h1>Signup</h1>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button>Signup</button>
        </form>
    </div>
</main>
{% endblock content %}
