{% extends 'base.html' %}

{% block title %}
    <title>Project Detail</title>
{% endblock title %}

{% block content %}
    <main>
        <div>
            <h1>{{ project.name }}</h1>
            <p>{{ project.description }}</p>
            <h2>Tasks</h2>
            <p><a href="{% url "create_task" %}">Create a new task</a></p>
            {% if task %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                    {% for t in task %}
                        <tr>
                            <td>{{ t.name }}</td>
                            <td>{{ t.assignee }}</td>
                            <td>{{ t.start_date }}</td>
                            <td>{{ t.due_date }}</td>
                            <td>{{ t.is_completed|yesno }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
